{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<title>{{template "title" .}}</title>
{{block "head" .}}
{{end}}

<body>
    {{block "header" .}}
    {{end}}
    {{template "main" .}}
    {{block "footer" .}}
    {{end}}
</body>

</html>
{{end}}