{{define "footer"}}
<footer>
    <div class="contacts">
        <h3>Контакты:</h3>
        <address>
            Эл. почта: <a href="mailto:masyana@mail.ru">masyana@mail.ru</a>
            <br>
            Телефон: <a href="tel:8800553535">8(800)555-35-35</a>
        </address>
        <span>{{.current_time}}</span>
    </div>
</footer>
{{end}}