{{template "base" .}}

{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lab2.css">
    <script src="/static/js/lab2.js"></script>
</head>
{{end}}

{{define "title"}}Лабораторная №2{{end}}

{{define "header"}}
{{end}}

{{define "main"}}
<div class="first_idz">
    <table>
        <tr>
            <td>Строка:</td>
            <td>{{.first_idz_str}}</td>
        </tr>
        <tr>
            <td>Количество символов "а", "Н", "к":</td>
            <td>{{.first_idz_res}}</td>
        </tr>
    </table>
</div>
<div class="second_idz">
    <table>
        <tr>
            <td>Массив:</td>
            <td>{{.second_idz_arr}}</td>
        </tr>
        <tr>
            <td>Количество элементов:</td>
            <td>{{.second_idz_res}}</td>
        </tr>
    </table>
</div>
<hr class="dotted">
<div class="num_system">
    <table>
        <tr>
            <td>Исходное число:</td>
            <td>{{.source_num}}</td>
        </tr>
        <tr>
            <td>Исходная степень:</td>
            <td>{{.source_pow}}</td>
        </tr>
        <tr>
            <td>Рез. степень:</td>
            <td>{{.res_pow}}</td>
        </tr>
        <tr>
            <td>Результат:</td>
            <td>{{.result}}</td>
        </tr>
    </table>
</div>
<div class="table_info">
    <table>
        <tr>
            <td>Число столбцов:</td>
            <td>{{.rows}}</td>
        </tr>
        <tr>
            <td>Число строк:</td>
            <td>{{.cols}}</td>
        </tr>
        <tr>
            <td>Цвет заголовков:</td>
            <td>{{.color}}</td>
        </tr>
    </table>
</div>
{{.mult_table}}
{{end}}