{{template "base" .}}

{{block "head" .}}
{{end}}

{{define "title"}}Главная страница{{end}}

{{define "header"}}
<header>
    <img class="logo" src="/static/img/4000_2_11.jpg" alt="top logo">
    <h1>Ветклиника Масяня</h1>
</header>
{{end}}
{{define "main"}}
<div class="content">
    {{template "menu"}}
</div>
{{end}}