{{template "base" .}}

{{define "title"}}Главная страница{{end}}
{{define "css_link"}}<link rel="stylesheet" href="/static/css/style.css">{{end}}

{{define "header"}}
<header>
    <img class="logo" src="/static/img/4000_2_11.jpg" alt="top logo">
    <h1>Ветклиника Масяня</h1>
</header>
{{end}}
{{define "main"}}
<div class="content">
    {{template "menu"}}
</div>
{{end}}