td {
    border: 1px solid black;
    padding: 3px;
}

table {
    border-collapse: collapse;
    margin: 0px 10px 10px 0px;
}

.dotted {
    border-top: 3px dotted #bbb;
}

#mult_table td {
    width: 20px;
    height: 20px;
    text-align: center;
}