.lab_table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

.lab_table td,
tr {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

body {
    font: 14px/21px, sans-serif;
}

.reg_form h2,
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.reg_form h2 {
    display: inline;
    margin: 0px;
}

.reg_form label {
    height: 20px;
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.reg_form .required_notification {
    font-size: 12px;
    color: rgb(245, 49, 49);
    display: inline;
    float: right;
}

.reg_form ul {
    width: 75%;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.reg_form li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.reg_form li:first-child,
.reg_form li:last-child {
    border-bottom: 1px solid #777;
}

.reg_form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.reg_form input[type="radio"] {
    width: auto;
    height: 12px;
}